<div class="container">
    <div class="content has-text-centered">
        <p>
            <a class="icon" href="https://github.com/obscuritylabs/OS-CFDB">
                <i class="fab fa-github"></i>
            </a>
            <a class="icon" href="https://opensource.org">
                <i class="fab fa-osi"></i>
            </a>
        </p>
        <div class="control level-item">
            <a href="https://github.com/obscuritylabs/OS-CFDB/blob/master/LICENSE">
                <div class="tags has-addons">
                    <span class="tag is-dark">BSD 3-Clause</span>
                    <span class="tag is-info">License</span>
                </div>
            </a>
        </div>
    </div>
</div>