{% extends "base.html" %}

{% block body %}        
        <section class="hero is-info is-medium is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <img src="/static/img/os-cfdb-white-logo.png" width="50%" height="50%">
                    <h1 class="title">
                    <br>
                     Discover writing reports open source!
                    </h1>
                    <h2 class="subtitle">
                    This project aims to provide a single source of common findings seen on Web/Application, Network, and Red Team assessments. While this project is scalable, it may not cover every single scenario applicable to your needs or reporting SOP (Standard Operating Procedures).
                    </h2>
                </div>
            </div>
        </section>
        <div class="box cta">
            <p class="has-text-centered">
                <span class="tag is-primary">New</span> We plan on releasing bi-monthly edits and updates to the OS-CFDB project! Please check out the search function!
            </p>
        </div>
        <section class="container">
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4><i class="fab fa-osi"></i> Open Source - Through & Through</h4>
                                <p>Please understand that this is Open Source project that is driven by community feedback. If you do not contribute, who will? Please take the time to correct, update, or even make a pull request when you are feeling up to the task.</p>
                                <p><a href="https://github.com/obscuritylabs/OS-CFDB">Github Repo</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-text-height"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4><i class="fas fa-memory"></i> Multiple Formats - JSON & MarkDown</h4>
                                <p>Reporting was repetitive, inaccurate and time loss incurred during the phase of the assessment. Moving forward this project hopes to help small, over-tasked, and startups produce valuable data for clients and their organizations they support.</p>
                                <p><a href="https://github.com/obscuritylabs/OS-CFDB#how-to-interpret-the-data">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-code-branch"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4><i class="fas fa-sync"></i> FREE to use API - No tricks!</h4>
                                <p>Postman’s API Documentation feature lets you view private API documentation or share public API documentation in a beautifully formatted web page. OS-CFDB uses it to share common API calls and proper limits.</p>
                                <p><a href="https://documenter.getpostman.com/view/4987837/RWThTLeK">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}